<app-navbar></app-navbar>

<div class="content"></div>
<input
  #fileInput
  type="file"
  style="display: none"
  (change)="onFileSelected($event)"
/>
<div class="h-screen bg-gray-100 flex justify-center items-center flex-col">
  <h1 class="text-6xl font-bold text-gray-800 animate-bounce mb-6">
    DeckAnimate
  </h1>
  <div class="grid grid-cols-5 gap-4">
    <div *ngFor="let segment of imageSegments">
      <div class="card border p-2 rounded-lg shadow-md">
        <img
          [src]="segment"
          class="w-[100px] h-[100px] object-cover rounded-lg"
          alt="Segment"
        />
      </div>
    </div>
  </div>

  <h1 *ngIf="printTitle" class="text-4xl font-semibold text-gray-800 mb-6">
    Import Your GIF
  </h1>

  <div class="w-1/2 flex justify-center">
    <button
      (click)="openFileExplorer(fileInput)"
      class="mt-4 px-8 py-4 cursor-pointer bg-blue-500 text-white text-2xl font-semibold rounded-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
        />
      </svg>
    </button>
  </div>

  <div *ngIf="!printTitle" class="w-1/2 flex justify-center mt-4">
    <button
      (click)="downloadAllSegments()"
      class="px-8 py-4 bg-blue-500 text-white text-2xl font-semibold rounded-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out cursor-pointer"
    >
      Télécharger le pack d'images
    </button>
  </div>
</div>
