<div
  class="container max-w-full flex justify-between items-center bg-[#FFD700] p-4 shadow-lg"
>
  <div class="logo">
    <h1 class="text-2xl font-bold text-black">Deck Animate</h1>
  </div>
  <nav class="space-x-4">
    <a
      routerLink="/"
      routerLinkActive="border-b-2 border-white"
      class="hover:underline text-black"
      >Accueil</a
    >
    <a
      routerLink="/about"
      routerLinkActive="border-b-2 border-white"
      class="hover:underline text-black"
      >À propos</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="border-b-2 border-white"
      class="hover:underline text-black"
      >Contact</a
    >
  </nav>
</div>
